.EmailsEditor
  background-color: #f5f5f5
  padding: 33px 40px 23px 40px
  display: inline-block
  text-align: left
  width: 500px
  box-sizing: border-box
  margin-bottom: 30px
  font-family: 'Myriad Pro'
  &__title
    font-size: 20px
    padding: 0
    margin: 0 0 33px 0
    letter-spacing: -0.20px
  &__content
    background-color: #fff
    display: inline-block
    box-sizing: border-box
    border-top: solid 1px #cccccc
    padding: 8px
    width: 100%
    min-height: 100px
    max-height: 450px
    overflow-y: auto
    input
      border: none
      float: left
      padding: 5px
      font-size: 14px
      width: auto
      box-sizing: border-box
      display: inline-block
      position: relative
      top: -2px
      font-family: 'Myriad Pro'
      &::placeholder
        color: #b3b3b3
        font-family: 'Myriad Pro'
      &:focus
        outline: none
.MarkedEmail
  float: left
  position: relative
  font-size: 14px
  background: #d9e8ff
  padding: 5px 25px 5px 10px
  margin-right: 4px
  margin-bottom: 7px
  line-height: 1
  height: 1em
  border-radius: 15px
  color: #333
  &__incorret
    text-decoration: underline
    color: #ff6666
  .Icon
    position: absolute
    top: 5px
    right: 9px
    height: 0.9em
    width: 0.9em
    &:hover
      cursor: pointer

.Icon
  height: 1em
  width: 1em
  background-size: 100% auto
  display: inline-block

.Icon-delete
  background-image: url('./img/delete.svg')

.Buttons
  padding: 0 40px
  .btn:last-child
    padding: 10px 13px 8px 11px

.btn
  background-color: #6699ff
  color: #FFF
  padding: 10px 23px 8px 20px
  line-height: 1
  border: none
  box-sizing: border-box
  margin-right: 16px
  margin-bottom: 10px
  cursor: pointer
  border-radius: 2px
  font-family: 'Myriad Pro'
  letter-spacing: 0.2px
  &:hover, &:focus
    background-color: darken(#6699ff, 10%)
  &:active
    background-color: darken(#6699ff, 15%)
