<div class="EmailsEditor__container" appMailOrganise>
  <div class="EmailsEditor">
    <p class="EmailsEditor__title">Share “Board name” with others</p>
    <div class="EmailsEditor__content">
      <input type="text" placeholder="add more people…">
    </div>
  </div>
  <div class="Buttons">
    <button class="btn" id="AddEmail">Add email</button>
    <button class="btn" id="CountEmails">Get emails count</button>
  </div>
</div>
